.navbar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  a {
    text-decoration: none;
  }
}

.navbarLogo {
  cursor: pointer;
  color: black;
}

@media (max-width: 576px) {
  .navbar {
    align-items: center;
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
    }
  }
}